<div class="container-desktop margin-y-6 margin-x-2 desktop:margin-x-auto padding-x-2">
  <div class="row gap">
    <div class="col-3">
      <div class="date size-sans-1 color-red-warm-50 line-height-sans-1 text-600">Upcoming: November 28, 2018</div>
      <div class="title size-sans-7 text-700 margin-top-05 line-height-sans-2"><a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline"><span class="color-red-warm-50">Event: </span>Readings from Issue 32 at the Ace Hotel</a></div>
    </div>
    <div class="col-3 border-left-2px border-red-warm-50">
      <div class="date size-sans-1 color-red-warm-50 line-height-sans-1 text-600">Upcoming: November 24, 2018</div>
      <div class="title size-sans-7 text-700 margin-top-05 line-height-sans-2"><a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline"><span class="color-red-warm-50">Event: </span>The Most Beautiful Fiction Has Already Evaporated: A Walk Through Central Park with Meaghan Knuth</a></div>
    </div>
    <div class="col-3 border-left-2px border-red-warm-50">
      <div class="date size-sans-1 color-red-warm-50 line-height-sans-1">November 10, 2018</div>
      <div class="title size-sans-3 text-600 margin-top-05 line-height-sans-2"><a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">After a Decline: Six Ways of Looking at Syntax</a></div>
      <div class="author size-sans-2 color-gray-warm-90 margin-top-05 line-height-sans-3"><a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">Seymour Escobedo</a>, <a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">Pawel Lewis</a>, <a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">Martine Larre</a>, <a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">J.J. Harbison-Ashley</a>, <a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">Shu Ennis</a>, <a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">Ha Jun Nguyen</a></div>
    </div>
    <div class="col-3 border-left-2px border-red-warm-50">
      <div class="date size-sans-1 color-red-warm-50 line-height-sans-1">November 8, 2018</div>
      <div class="title size-sans-3 text-600 margin-top-05 line-height-sans-2"><a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">The Incredible Disappearance of Dr. and Mrs. R</a></div>
      <div class="author size-sans-2 color-gray-warm-90 margin-top-05 line-height-sans-3"><a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">Sarah Lee</a></div>
    </div>
  </div><!-- row -->

  <div class="row gap margin-top-2">
    <div class="col-3">
      <div class="date size-sans-1 color-red-warm-50 line-height-sans-1">November 8, 2018</div>
      <div class="title size-sans-3 text-600 margin-top-05 line-height-sans-2"><a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">A Lavender Revolution</a></div>
      <div class="author size-sans-2 color-red-warm-50v margin-top-05 line-height-sans-3"><a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">Marcus Aårberg</a></div>
    </div>
    <div class="col-3 border-left-2px border-red-warm-50">
      <div class="date size-sans-1 color-red-warm-50 line-height-sans-1">November 5, 2018</div>
      <div class="title size-sans-3 text-600 margin-top-05 line-height-sans-2"><a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">Mary Always Left Her Door Unlocked</a></div>
      <div class="author size-sans-2 color-red-warm-50v margin-top-05 line-height-sans-3"><a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">Corvis Tulle</a></div>
    </div>
    <div class="col-3 border-left-2px border-red-warm-50">
      <div class="date size-sans-1 color-red-warm-50 line-height-sans-1">November 5, 2018</div>
      <div class="title size-sans-3 text-600 margin-top-05 line-height-sans-2"><a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">After a Decline: Six Ways of Looking at Syntax</a></div>
      <div class="author size-sans-2 color-red-warm-50v margin-top-05 line-height-sans-3"><a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">Seymour Escobedo</a></div>
    </div>
    <div class="col-3 border-left-2px border-red-warm-50">
      <div class="date size-sans-1 color-red-warm-50 line-height-sans-1">November 4, 2018</div>
      <div class="title size-sans-3 text-600 margin-top-05 line-height-sans-2"><a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">Summitteers!</a></div>
      <div class="author size-sans-2 color-gray-warm-90 margin-top-05 line-height-sans-3"><a href="#0" class="color-gray-warm-90 text-no-underline hover:text-underline">Alex Amos Davis</a></div>
    </div>
  </div><!-- row -->
</div>
