<div class="grid-container-widescreen margin-y-8 desktop:margin-x-auto">
  <div class="grid-row grid-gap">
    <div class="grid-col-3">
      <div class="date font-sans-1 text-primary line-height-sans-1 text-semibold">Upcoming: November 28, 2019</div>
      <div class="title font-sans-9 text-bold margin-top-05 line-height-sans-2"><a href="#0" class="text-base-darkest text-no-underline hover:text-underline"><span class="text-primary">Event: </span>Readings from Issue 32 at the Ace Hotel</a></div>
    </div>
    <div class="grid-col-3 border-left-2px border-primary">
      <div class="date font-sans-1 text-primary line-height-sans-1 text-semibold">Upcoming: November 24, 2019</div>
      <div class="title font-sans-9 text-bold margin-top-05 line-height-sans-2"><a href="#0" class="text-base-darkest text-no-underline hover:text-underline"><span class="text-primary">Event: </span>The Most Beautiful Fiction Has Already Evaporated: A Walk Through Central Park with Meaghan Knuth</a></div>
    </div>
    <div class="grid-col-3 border-left-2px border-primary">
      <div class="date font-sans-1 text-primary line-height-sans-1">November 10, 2019</div>
      <div class="title font-sans-7 text-semibold margin-top-05 line-height-sans-2"><a href="#0" class="text-base-darkest text-no-underline hover:text-underline">After a Decline: Six Ways of Looking at Syntax</a></div>
      <div class="author font-sans-3 text-base-darkest margin-top-05 line-height-sans-3"><a href="#0" class="text-base-darkest text-no-underline hover:text-underline">Seymour Escobedo</a>, <a href="#0" class="text-base-darkest text-no-underline hover:text-underline">Pawel Lewis</a>, <a href="#0" class="text-base-darkest text-no-underline hover:text-underline">Martine Larre</a>, <a href="#0" class="text-base-darkest text-no-underline hover:text-underline">J.J. Harbison-Ashley</a>, <a href="#0" class="text-base-darkest text-no-underline hover:text-underline">Shu Ennis</a>, <a href="#0" class="text-base-darkest text-no-underline hover:text-underline">Ha Jun Nguyen</a></div>
    </div>
    <div class="grid-col-3 border-left-2px border-primary">
      <div class="date font-sans-1 text-primary line-height-sans-1">November 8, 2019</div>
      <div class="title font-sans-7 text-semibold margin-top-05 line-height-sans-2"><a href="#0" class="text-base-darkest text-no-underline hover:text-underline">The Incredible Disappearance of Dr. and Mrs. R</a></div>
      <div class="author font-sans-3 text-base-darkest margin-top-05 line-height-sans-3"><a href="#0" class="text-base-darkest text-no-underline hover:text-underline">Sarah Lee</a></div>
    </div>
  </div><!-- grid-row -->

  <div class="grid-row grid-gap margin-top-4">
    <div class="grid-col-3">
      <div class="date font-sans-1 text-primary line-height-sans-1">November 8, 2019</div>
      <div class="title font-sans-7 text-semibold margin-top-05 line-height-sans-2"><a href="#0" class="text-base-darkest text-no-underline hover:text-underline">A Lavender Revolution</a></div>
      <div class="author font-sans-3 text-primaryv margin-top-05 line-height-sans-3"><a href="#0" class="text-base-darkest text-no-underline hover:text-underline">Marcus Aårberg</a></div>
    </div>
    <div class="grid-col-3 border-left-2px border-primary">
      <div class="date font-sans-1 text-primary line-height-sans-1">November 5, 2019</div>
      <div class="title font-sans-7 text-semibold margin-top-05 line-height-sans-2"><a href="#0" class="text-base-darkest text-no-underline hover:text-underline">Mary Always Left Her Door Unlocked</a></div>
      <div class="author font-sans-3 text-primaryv margin-top-05 line-height-sans-3"><a href="#0" class="text-base-darkest text-no-underline hover:text-underline">Corvis Tulle</a></div>
    </div>
    <div class="grid-col-3 border-left-2px border-primary">
      <div class="date font-sans-1 text-primary line-height-sans-1">November 5, 2019</div>
      <div class="title font-sans-7 text-semibold margin-top-05 line-height-sans-2"><a href="#0" class="text-base-darkest text-no-underline hover:text-underline">Why Socialism Must Fail, Why Marxism Must Fail, Why Capitalism Must Fail</a></div>
      <div class="author font-sans-3 text-primaryv margin-top-05 line-height-sans-3"><a href="#0" class="text-base-darkest text-no-underline hover:text-underline">Marta Schulman</a></div>
    </div>
    <div class="grid-col-3 border-left-2px border-primary">
      <div class="date font-sans-1 text-primary line-height-sans-1">November 4, 2019</div>
      <div class="title font-sans-7 text-semibold margin-top-05 line-height-sans-2"><a href="#0" class="text-base-darkest text-no-underline hover:text-underline">Summitteers!</a></div>
      <div class="author font-sans-3 text-base-darkest margin-top-05 line-height-sans-3"><a href="#0" class="text-base-darkest text-no-underline hover:text-underline">Alex Amos Davis</a></div>
    </div>
  </div><!-- grid-row -->
</div>
