<div class="container-desktop margin-y-3 margin-x-2 desktop:margin-x-auto padding-3 padding-y-6 bg-red-warm-50 add-smoothing color-white">
  <div class="color-white size-sans-12 text-700 text-center">Subscribe online and gain access to the entire archive.</div>
  <div class="color-white size-sans-8 text-300 text-center margin-top-2 measure-2 line-height-sans-3 margin-x-auto color-white-transparent-90">Subscriptions support our mission to find and publish the best writers and thinkers. Spend $3 and read anything we’ve ever published for a whole month.</div>
  <div class="margin-top-4 text-center">
    <div class="display-inline-block padding-105 padding-x-205 radius-pill bg-gray-warm-90 color-white text-500 cursor-pointer hover:bg-black">Subscribe and read n+1</div>
  </div>
</div>
