<div class="grid-container-widescreen margin-top-6 margin-bottom-3 margin-x-2 desktop:margin-x-auto padding-3 padding-bottom-8 bg-base-darkest add-smoothing text-white">
  <div class="grid-row grid-gap-lg">
    <div class="grid-col-4">
      <div class="article-a margin-bottom-4">
        <a href="#0">
          <img src="https://source.unsplash.com/user/ingagezalian/640x480" class="maxw-full">
        </a>
        <div class="text-primary font-sans-4 text-uppercase text-ls-1 text-normal margin-top-2">Toby Haslitt</div>
        <div class="font-sans-10 text-bold margin-top-1">Seagulls</div>
        <div class="font-sans-7 text-light margin-top-1 line-height-sans-3 text-base">Brothers and sisters! We are marching in the service of the Lord! We call out in Your name! We dive, we wail, we glide!</div>
      </div>
    </div>

    <div class="grid-col-4">
      <div class="article-a margin-bottom-4">
        <a href="#0">
          <img src="https://source.unsplash.com/user/robpotter/640x480" class="maxw-full">
        </a>
        <div class="text-primary font-sans-4 text-uppercase text-ls-1 text-normal margin-top-2">Shon Tate-Marshall</div>
        <div class="font-sans-10 text-bold margin-top-1">A Most Grueling Pace</div>
        <div class="font-sans-7 text-light margin-top-1 line-height-sans-3 text-base">If I’d been able, in the nineties, to see into the future, it’s hard to know what about the late 2010s would have surprised me more: that millions would have voted Donald Trump into the White House, or that millions would line up to see films about Captain America.</div>
      </div>
    </div>

    <div class="grid-col-4">
      <div class="article-a margin-bottom-4">
        <a href="#0">
          <img src="https://source.unsplash.com/user/maxwbender/640x480" class="maxw-full">
        </a>
        <div class="text-primary font-sans-4 text-uppercase text-ls-1 text-normal margin-top-2">Marissa Brostoff</div>
        <div class="font-sans-10 text-bold margin-top-1">Missing Time</div>
        <div class="font-sans-7 text-light margin-top-1 line-height-sans-3 text-base">S. was the one who usually wrote our fanfic. It’s all there in my files, packed into the box my mom sends me from the Valley when I decide to write about the show.</div>
      </div>
    </div>
  </div>

  <div class="minh-tablet margin-top-8 position-relative overflow-hidden display-flex flex-align-center">
    <img src="https://source.unsplash.com/DsH1NbAxEec/1200x800" class="add-pin-all maxw-full">
    <div class="bg-white margin-x-auto maxw-mobile-lg z-100 text-black padding-top-3 padding-left-3 padding-right-2 padding-bottom-205 border border-base-lighter">
      <div class="grid-row grid-gap">
        <div class="grid-col-fill padding-right-2">
          <div class="text-primary font-sans-3 text-uppercase text-ls-1 text-500">Sheila Heti</div>
          <div class="font-sans-12 text-bold margin-top-1 line-height-sans-2">That Longing for a Holy Completeness</div>
          <div class="font-sans-8 text-thin margin-top-2 line-height-sans-3 text-gray-warm-70">You didn’t make a choice to go in that direction. Life—nature—pulled your strings.</div>
          <div class="font-sans-1 text-bold margin-top-4 line-height-sans-3 text-gray-warm-80">Originally published November 12, 2018</div>
        </div>
        <div class="grid-col-fit display-flex flex-column flex-align-end">
          <div class="padding-05 text-white bg-indigo font-sans-1 text-500 margin-bottom-05 line-height-sans-1 text-no-break">fiction</div>
          <div class="padding-05 text-white bg-blue font-sans-1 text-500 margin-bottom-05 line-height-sans-1 text-no-break">politics</div>
          <div class="padding-05 text-white bg-cyan font-sans-1 text-500 margin-bottom-05 line-height-sans-1 text-no-break">feminism</div>
        </div>
      </div>
    </div>
  </div>
</div>
