<div class="container-desktop margin-y-8 border-bottom-2px border-primary padding-bottom-5">
  <div class="color-primary size-sans-14 text-700 text-center border-top-2px padding-top-4">The Magazine</div>
  <div class="color-primary size-sans-12 text-200 text-center margin-bottom-4 margin-top-05">Over ten years of n+1</div>
  <div class="row gap">
    <div class="col-fit display-flex flex-align-center">
      <img src="{{ 'assets/img/carousel-arrow-left.svg' | relative_url }}" class="max-full" alt="Previous issues">
    </div>
    <div class="col cursor-pointer hover:bg-color-gray-lightest padding-y-2 radius-sm">
      <a href="#0" class="circle-9 bg-color-gray-light overflow-hidden margin-x-auto display-block ">
        <img src="{{ 'assets/img/issue-24-thumb.jpg' | relative_url }}" class="maxw-full" alt="Next issue">
      </a>
      <div class="text-center padding-x-1 margin-top-1 text-500">
        <div class="size-sans-2 color-primary">Issue 24</div>
        <div class="size-sans-2 color-gray-darker margin-top-1 text-700">New Age</div>
        <div class="size-sans-2 color-gray-darker margin-top-05 text-400">Winter 2016</div>
      </div>
    </div>
    <div class="col cursor-pointer hover:bg-color-gray-lightest padding-y-2 radius-sm">
      <a href="#0" class="circle-9 bg-color-gray-light overflow-hidden margin-x-auto display-block">
        <img src="{{ 'assets/img/issue-25-thumb.jpg' | relative_url }}" class="maxw-full" alt="Next issue">
      </a>
      <div class="text-center padding-x-1 margin-top-1 text-500">
        <div class="size-sans-2 color-primary">Issue 25</div>
        <div class="size-sans-2 color-gray-darker margin-top-1 text-700">Slow Burn</div>
        <div class="size-sans-2 color-gray-darker margin-top-05 text-400">Spring 2016</div>
      </div>
    </div>
    <div class="col cursor-pointer hover:bg-color-gray-lightest padding-y-2 radius-sm">
      <a href="#0" class="circle-9 bg-color-gray-light overflow-hidden margin-x-auto display-block">
        <img src="{{ 'assets/img/issue-26-thumb.jpg' | relative_url }}" class="maxw-full" alt="Next issue">
      </a>
      <div class="text-center padding-x-1 margin-top-1 text-500">
        <div class="size-sans-2 color-primary">Issue 26</div>
        <div class="size-sans-2 color-gray-darker margin-top-1 text-700">Dirty Work</div>
        <div class="size-sans-2 color-gray-darker margin-top-05 text-400">Fall 2016</div>
      </div>
    </div>
    <div class="col cursor-pointer hover:bg-color-gray-lightest padding-y-2 radius-sm">
      <a href="#0" class="circle-9 bg-color-gray-light overflow-hidden margin-x-auto display-block">
        <img src="{{ 'assets/img/issue-27-thumb.jpg' | relative_url }}" class="maxw-full" alt="Next issue">
      </a>
      <div class="text-center padding-x-1 margin-top-1 text-500">
        <div class="size-sans-2 color-primary">Issue 27</div>
        <div class="size-sans-2 color-gray-darker margin-top-1 text-700">Deep End</div>
        <div class="size-sans-2 color-gray-darker margin-top-05 text-400">Winter 2017</div>
      </div>
    </div>
    <div class="col cursor-pointer hover:bg-color-gray-lightest padding-y-2 radius-sm">
      <a href="#0" class="circle-9 bg-color-gray-light overflow-hidden margin-x-auto display-block">
        <img src="{{ 'assets/img/issue-28-thumb.jpg' | relative_url }}" class="maxw-full" alt="Next issue">
      </a>
      <div class="text-center padding-x-1 margin-top-1 text-500">
        <div class="size-sans-2 color-primary">Issue 28</div>
        <div class="size-sans-2 color-gray-darker margin-top-1 text-700">Half-Life</div>
        <div class="size-sans-2 color-gray-darker margin-top-05 text-400">Spring 2017</div>
      </div>
    </div>
    <div class="col cursor-pointer hover:bg-color-gray-lightest padding-y-2 radius-sm">
      <a href="#0" class="circle-9 bg-color-gray-light overflow-hidden margin-x-auto display-block">
        <img src="{{ 'assets/img/issue-29-thumb.jpg' | relative_url }}" class="maxw-full" alt="Next issue">
      </a>
      <div class="text-center padding-x-1 margin-top-1 text-500">
        <div class="size-sans-2 color-primary">Issue 29</div>
        <div class="size-sans-2 color-gray-darker margin-top-1 text-700">Bottoms Up</div>
        <div class="size-sans-2 color-gray-darker margin-top-05 text-400">Fall 2017</div>
      </div>
    </div>
    <div class="col cursor-pointer hover:bg-color-gray-lightest padding-y-2 radius-sm">
      <a href="#0" class="circle-9 bg-color-gray-light overflow-hidden margin-x-auto display-block">
        <img src="{{ 'assets/img/issue-30-thumb.jpg' | relative_url }}" class="maxw-full" alt="Next issue">
      </a>
      <div class="text-center padding-x-1 margin-top-1 text-500">
        <div class="size-sans-2 color-primary">Issue 30</div>
        <div class="size-sans-2 color-gray-darker margin-top-1 text-700">Motherland</div>
        <div class="size-sans-2 color-gray-darker margin-top-05 text-400">Winter 2018</div>
      </div>
    </div>
    <div class="col cursor-pointer hover:bg-color-gray-lightest padding-y-2 radius-sm">
      <a href="#0" class="circle-9 bg-color-gray-light overflow-hidden margin-x-auto display-block">
        <img src="{{ 'assets/img/issue-31-thumb2.jpg' | relative_url }}" class="maxw-full" alt="Next issue">
      </a>
      <div class="text-center padding-x-1 margin-top-1 text-500">
        <div class="size-sans-1 color-primary">Issue 31</div>
        <div class="size-sans-2 color-gray-darker margin-top-1 text-700">Out There</div>
        <div class="size-sans-2 color-gray-darker margin-top-05 text-400">Spring 2018</div>
      </div>
    </div>
    <div class="col-fit display-flex flex-align-center">
      <img src="{{ 'assets/img/carousel-arrow-right.svg' | relative_url }}" class="maxw-full" alt="Next issue">
    </div>
  </div>
</div>
