<div class="grid-container margin-top-2">
  <nav class="nav add-smoothing bg-base-darkest text-white">
    <div class="grid-row">
      <div class="grid-row grid-col">
        <a href="#0" class="grid-col-auto display-flex flex-align-center center padding-x-2 bg-black">
          <img class="height-3" src="{{ 'assets/img/nplusone-logo.svg' | relative_url }}" alt="n+1 logo">
        </a>
        <a href="#0" class="grid-col-auto nav-link text-primary bg-black hover:text-secondary">
          Subscribe
        </a>
        <a href="#0" class="grid-col-auto nav-link">
          Magazine
        </a href="#0">
        <a href="#0" class="grid-col-auto nav-link">
          Online Only
        </a>
        <a href="#0" class="grid-col-auto nav-link">
          Bookstore
        </a>
        <a href="#0" class="grid-col-auto nav-link">
          Events
        </a>
        <a href="#0" class="grid-col-auto nav-link">
          Donate
        </a>
      </div>
      <a href="#0" class="grid-col-auto nav-link-signin">
        Sign in
      </a>
    </div>
  </nav>
</div>
